@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: hsl(218, 23%, 16%);
  font-size: ;
  font-family: Manrope;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  width: 45em;
  height: 28em;
  background: hsl(217, 19%, 24%);
  border-radius: 1em;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  font-size: 1.3em;
  letter-spacing: 0.2em;
  margin-bottom: 1.5em;
}

q {
  color: white;
  font-size: 2em;
  line-height: 1.5;
  height: 70%;
  align-self: center;
}

.divider {
  width: 100%;
  margin: 2.5em 0 2em 0;
  position: static;
}

.dice {
  width: 4em;
  height: 4em;
  background: hsl(150, 100%, 66%);
  border-radius: 50%;
  border: none;
  transform: translateY(-50%);
}

.dice:hover {
  box-shadow: 2px 2px 5px hsl(150, 100%, 66%), -2px -2px 5px hsl(150, 100%, 66%);
}

@media (max-width: 640px) {
  .container {
    width: 80%;
  }
}
